
@{
    ViewBag.Title = "OrnekFilm";
}



<div class="container">

    <div class="row">

        

        <div class="col-md-9">

            <div class="thumbnail">
                <img class="img-responsive" src="~/img/orneklockstock.jpg" alt="">
                <div class="caption-full">
                    <h4>Örnek Film 1</h4>
                    <p>
                            KENDİNİZİ GUY RİTCHİE'YE BIRAKIN
                    </p>
                <p>Filmin özeti burada olacak.Filmin özeti burada olacak.Filmin özeti burada olacak.Filmin özeti burada olacak.Filmin özeti burada olacak.Filmin özeti burada olacak.Filmin özeti burada olacak.Filmin özeti burada olacak.Filmin özeti burada olacak.Filmin özeti burada olacak.Filmin özeti burada olacak.Filmin özeti burada olacak.Filmin özeti burada olacak.Filmin özeti burada olacak.Filmin özeti burada olacak.Filmin özeti burada olacak.Filmin özeti burada olacak.Filmin özeti burada olacak. </p>
                </div>
                <div class="ratings">
                    <p class="pull-right">3 görüş</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        
                    </p>
                </div>
            </div>

            <div class="well">

                <div class="text-right">
                    <a class="btn btn-success">Görüş Bildir</a>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        Anonymous
                        <span class="pull-right">10 gün önce</span>
                        <p>yha bu basroldeki cocugun adı neeeeeeee</p>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        Anonymous
                        <span class="pull-right">12 gün önce</span>
                        <p>yha bu filim bheni anlatıoooo ;))))))))</p>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        Anonymous
                        <span class="pull-right">15 gün önce</span>
                        <p>efsoooooooo bi film bayıldımmmmmmmm</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>