@{
    ViewBag.Title = "Vizyondakiler";
}


    <div class="container">



        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    @Resources.Home.vizyon
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/img/lockstock.jpg" alt="">
                </a>
                <h3>
                    <a href='@Url.Action("OrnekFilm", "Home")'>Örnek Film 1</a>
                </h3>
                <p>Film hakkında çeşitli bilgiler burada  yer alacak.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/img/lockstock.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Örnek Film 1</a>
                </h3>
                <p>Film hakkında çeşitli bilgiler burada  yer alacak.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/img/lockstock.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Örnek Film 1</a>
                </h3>
                <p>Film hakkında çeşitli bilgiler burada  yer alacak.</p>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/img/lockstock.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Örnek Film 1</a>
                </h3>
                <p>Film hakkında çeşitli bilgiler burada  yer alacak.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/img/lockstock.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Örnek Film 1</a>
                </h3>
                <p>Film hakkında çeşitli bilgiler burada  yer alacak.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/img/lockstock.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Örnek Film 1</a>
                </h3>
                <p>Film hakkında çeşitli bilgiler burada  yer alacak.</p>
            </div>
        </div>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/img/lockstock.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Örnek Film 1</a>
                </h3>
                <p>Film hakkında çeşitli bilgiler burada  yer alacak.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/img/lockstock.jpg" alt="">

                </a>
                <h3>
                    <a href="#">Örnek Film 1</a>
                </h3>
                <p>Film hakkında çeşitli bilgiler burada  yer alacak.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/img/lockstock.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Örnek Film 1</a>
                </h3>
                <p>Film hakkında çeşitli bilgiler burada  yer alacak.</p>
            </div>
        </div>